  <title>Problematizing Strategic Tension Lines in the Digital Commons</title>
  <meta name="description" content="A group of long-term experts, producers, and organizers of the Digital Commons gathered in Berlin in May 2023 to discuss and strategize about the future of the open movement through a three-day session. The group came to a series of conclusions that may serve as a base to better nurture and defend the Digital Commons.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://tensionsincommons.net/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Problematizing Strategic Tension Lines in the Digital Commons">
  <meta property="og:description" content="A group of long-term experts, producers, and organizers of the Digital Commons gathered in Berlin in May 2023 to discuss and strategize about the future of the open movement through a three-day session. The group came to a series of conclusions that may serve as a base to better nurture and defend the Digital Commons.">
  <meta property="og:image" content="https://tensionsincommons.net/assets/StrategicTensions_logo.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="tensionsincommons.net">
  <meta property="twitter:url" content="https://tensionsincommons.net/">
  <meta name="twitter:title" content="Problematizing Strategic Tension Lines in the Digital Commons">
  <meta name="twitter:description" content="A group of long-term experts, producers, and organizers of the Digital Commons gathered in Berlin in May 2023 to discuss and strategize about the future of the open movement through a three-day session. The group came to a series of conclusions that may serve as a base to better nurture and defend the Digital Commons.">
  <meta name="twitter:image" content="https://tensionsincommons.net/assets/StrategicTensions_logo.png">
