---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* Tensions site overrides */

.subtitle {
  font-style: italic;
  
}

ul {
  list-style-type: none;
  line-height: normal;
}

.logo {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page__footer-copyright {
  text-align: center;
}

.logo-org-pad {
  padding: 10px;
}


@media (min-width: 576px) { 
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .wrapper > div {
    padding: 10px;
    vertical-align: middle;
  }

}

@media (max-width: 576px) { 

  .logo-org {
    margin: 10px 50px;
    max-width: 200px;
  }
}
